// Mixins Here

.displayFlexDirCon(@flex-dir, @align-content) {
    display: flex;
    flex-direction: @flex-dir;
    align-content: @align-content;
}

.img(@width, @height, @margin, @bord-rad) {
    width:@width;
    height:@height;
    margin:@margin;
    border-radius:@bord-rad;
}