// Navigation code here

header {
    .navigation {
        .displayFlexDirCon(column, center);
        align-items: center;
        
        h1 {
            padding: 2rem;
        }

        nav {
            .displayFlexDirCon(row, center);
            padding: 0 0 1rem 0;
            
            a {
                color: @nav-font;
                padding: 0 2rem;
            }
        }
    }
}